<div class="container">
  <h1>Create New Album</h1>

  <form id="create" action="/albums/create" method="post">
    <input name="title" type="text" placeholder="title" required>
    <textarea name="description" placeholder="describe your album here..."></textarea>
    <input type="submit" value="create">
  </form>
</div>